<nz-table
  nzShowSizeChanger
  [nzData]="data$|async"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onParamsChangeQueryEvent($event)"
>
  <thead>
  <tr>
    <th *ngFor="let column of columns" [nzColumnKey]="column.kind" [nzSortFn]="column.sort"
        [nzFilters]="column.filter?column.filterFn.apply(column):[]" [nzFilterFn]="column.filter">
      {{column.name}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of data$|async">
    <ng-container *ngFor="let column of columns" >
      <td *ngIf="column.transformer" [innerHTML]="column.transformer.apply(row)|keepSafeHtml"></td>
      <td *ngIf="!column.transformer">{{row.order[column.kind]}}</td>
    </ng-container>
  </tr>
  </tbody>
</nz-table>
