<nz-layout class="layout">
  <nz-header>
    <div nz-row >
      <div nz-col class="nz-col-left" [nzXs]="24" [nzSm]="6">
        <ul nz-menu  nzMode="horizontal">
          <li>
            <a style="display: block;" href="/">
              <img width="36" height="36" alt="logo" src="./assets/img/logo.svg">
            </a>
          </li>
          <li>
            <span style="display: block;height: 64px;padding-top: 2px;">NG jewellery</span>
          </li>
        </ul>
      </div>
      <div nz-col class="nz-col-right" [nzXs]="24" [nzSm]="18">
        <ul nz-menu  nzMode="horizontal">
      <li>
        <a class="header-trigger" (click)="toggleTheme()" href="javascript://">
          <i class="trigger" nz-icon nzType="skin"></i>
        </a>
      </li>
      <li>
        <a  nz-dropdown [nzDropdownMenu]="menuLang" (click)="showDefault()" nzPlacement="bottomRight">
          <i nz-icon nzIconfont="icon-language"></i>
        </a>
        <nz-dropdown-menu #menuLang="nzDropdownMenu">
          <ul nz-menu style="width: auto">
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="switchLanguage('en_US')">
              <i nz-icon nzType="question-circle"></i>
              &nbsp;&nbsp;<span i18n>English</span>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="switchLanguage('zh_CN')">
              <i nz-icon nzType="highlight"></i>
              &nbsp;&nbsp;<span i18n>Simplified Chinese</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
      <li>
        <a  nz-dropdown [nzDropdownMenu]="menuHelp" nzPlacement="bottomRight">
          <i nz-icon nzType="question-circle"></i>
        </a>
        <nz-dropdown-menu #menuHelp="nzDropdownMenu">
          <ul nz-menu >
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="question-circle"></i>
              &nbsp;&nbsp;<span i18n>Documents</span>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="highlight"></i>
              &nbsp;&nbsp;<span i18n>Feedback</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
      <li>
        <a nz-dropdown [nzDropdownMenu]="menuMail" nzPlacement="bottomRight">
          <i nz-icon nzType="mail"></i>
        </a>
        <nz-dropdown-menu #menuMail="nzDropdownMenu">
          <ul nz-menu >
            <li nz-menu-divider></li>

            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="check-circle" nzTwotoneColor="#52c41a"></i>
              &nbsp;&nbsp;<span i18n>System message</span>
            </li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="info-circle"></i>
              &nbsp;&nbsp;<span i18n>Notice message</span>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="warning" nzTwotoneColor="#faad14"></i>
              &nbsp;&nbsp;&nbsp;<span i18n>Alert messages</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
      <li>
        <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          <i nz-icon nzType="user"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="profile"></i>
              &nbsp;&nbsp;<span i18n>Profile</span>
            </li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="setting"></i>
              &nbsp;&nbsp;<span i18n>Settings</span>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="logout"></i>
              &nbsp;&nbsp;<span i18n>Logout</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
      </div>
    </div>

  </nz-header>
  <nz-layout class="main-container">
    <nz-sider nzBreakpoint="md"  nzCollapsible [nzCollapsedWidth]="width"
              (nzCollapsedChange)="updateMenuInlineCollapsed($event)">
      <div class="sider-content">
      <ul nz-menu nzMode="inline" nzTheme="light">
        <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item><i nz-icon nzType="pie-chart"></i>&nbsp;Team 1</li>
            <li nz-menu-item><i nz-icon nzType="bar-chart"></i>&nbsp;Team 2</li>
          </ul>
        </li>
        <nz-divider class="compact" style="margin-top: 0"></nz-divider>
        <li nz-submenu nzTitle="Orders" nzIcon="ordered-list">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Items" nzIcon="gift">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Revenue" nzIcon="dollar-circle">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <nz-divider class="compact"></nz-divider>
        <li nz-submenu nzTitle="apartment" nzIcon="apartment">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Settings" nzIcon="setting">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <nz-divider class="compact"></nz-divider>
        <li
          routerLink="/about"
          nz-menu-item
        >
          <i nz-icon nzType="info-circle"></i>
          <span>&nbsp;&nbsp;&nbsp;About</span>
        </li>
      </ul>
      </div>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <nz-breadcrumb nzAutoGenerate="true">
          <nz-breadcrumb-item>
            <a [routerLink]="['/']">Home</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-divider></nz-divider>
        <router-outlet
          (activate)='onActivate($event)'
          (deactivate)='onDeactivate($event)'
          (attach)='onAttach($event)'
          (detach)='onDetach($event)'></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<!--<nz-drawer-->
<!--  [style]="'margin-top: 50px'"-->
<!--  [nzSize]="size"-->
<!--  [nzVisible]="visible"-->
<!--  nzPlacement="right"-->
<!--  [nzTitle]="title"-->
<!--  [nzExtra]="extra"-->
<!--&gt;-->
<!--  <ng-container *nzDrawerContent>-->
<!--    <p>Some contents...</p>-->
<!--    <p>Some contents...</p>-->
<!--    <p>Some contents...</p>-->
<!--  </ng-container>-->
<!--</nz-drawer>-->
<!--<ng-template #extra>-->
<!--  <button nz-button nzType="default" >Cancel</button>-->
<!--  &nbsp;-->
<!--  <button nz-button nzType="primary" >OK</button>-->
<!--</ng-template>-->
