.main-container{
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  position: absolute;
  top: 128px;
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .main-container{
    top: 64px;
  }
}

app-sider{
}

app-content{
  overflow: scroll;
  width: 100%;
}
