
.logo {
  width: 200px;
  float: left;
  color: whitesmoke;
  line-height: 64px;
  font-size: 14px;
  padding: 0 5px;
}

.logo:before{
  display: table;
  content: "";
}
.logo:after{
  display: table;
  content: "";
}
.logo img{
}
.logo span{
  display: inline-block;
  margin: 0 5px;
}
nz-header{
  font-size: 0;
  background-color: #262F3E;
  box-sizing: border-box;
  width: 100%;
  z-index: 999999;
  padding-right: 0;
}

nz-header [nz-menu] {
  display: flex;
  justify-content: end;
  background-color: transparent;
  line-height: 64px;
  height: 64px;
  padding: 0 5px;
  text-align: right;
}

nz-header [nz-menu] li{
  width: 50px;
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
nz-header [nz-menu] li a{
  font-size: 18px;
  color: whitesmoke;
}
nz-sider {
  position: relative;
  width: 200px;
  display: inline-block;
  height: 100vh;
  vertical-align: top;
  overflow-y: auto;
  overflow-x: hidden;
}

nz-sider [nz-menu]{
  border-right: none;
  height: 100vh;
}
nz-sider .compact{
  padding: 0;
  margin: 0 0 24px;
}

.right-layout{
  right: 0;
  bottom: 0;
  top: 64px;
  left: 0;
  transform: none !important;
  height: auto;
  position: absolute;
}
nz-content{
  overflow: scroll;
}

.inner-content{
  /*background-color: #fff;*/
  margin: 1px;
  padding: 20px;
}

nz-footer {
  text-align: center;
}
