<nz-layout class="layout">
  <nz-header>
    <div class="logo">
      <img width="32" height="32" alt="logo" src="./assets/img/logo.svg">
      <span>NG jewellery</span>
    </div>
    <!--    <ul nz-menu nzTheme="dark" nzMode="horizontal">-->
    <!--      <li nz-menu-item [nzSelected]="false">-->
    <!--        <i nz-icon nzType="question-circle" nzTheme="outline"></i>-->
    <!--      </li>-->
    <!--      <li nz-menu-item [nzSelected]="false">-->
    <!--        <i nz-icon nzType="mail" nzTheme="outline"></i>-->
    <!--      </li>-->
    <!--      <li nz-menu-item nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">-->
    <!--        <i nz-icon nzType="user" nzTheme="outline"></i>-->
    <!--      </li>-->
    <!--      <nz-dropdown-menu #menu2="nzDropdownMenu">-->
    <!--        <ul nz-menu style="width: 180px">-->
    <!--          <li nz-menu-item>profiles</li>-->
    <!--          <li nz-menu-item>settings</li>-->
    <!--          <li nz-menu-divider></li>-->
    <!--          <li nz-menu-item>logout</li>-->
    <!--        </ul>-->
    <!--      </nz-dropdown-menu>-->
    <!--    </ul>-->
    <ul  nz-menu nzMode="horizontal">
      <li>
        <a  nz-dropdown [nzDropdownMenu]="menuHelp" nzPlacement="bottomRight">
          <i nz-icon nzType="question-circle" nzTheme="outline"></i>
        </a>
        <nz-dropdown-menu #menuHelp="nzDropdownMenu">
          <ul nz-menu style="width: 160px">
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="question-circle" nzTheme="twotone"></i>
              &nbsp;&nbsp;Documents
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="highlight" nzTheme="twotone"></i>
              &nbsp;&nbsp;Feedback
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
      <li>
        <a nz-dropdown [nzDropdownMenu]="menuMail" nzPlacement="bottomRight">
          <i nz-icon nzType="mail" nzTheme="outline"></i>
        </a>
        <nz-dropdown-menu #menuMail="nzDropdownMenu">
          <ul nz-menu style="width: 160px">
            <li nz-menu-divider></li>

            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#52c41a"></i>
              &nbsp;&nbsp;System message
            </li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
              &nbsp;&nbsp;Notice message
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="warning" nzTwotoneColor="#faad14" nzTheme="twotone"></i>
              &nbsp;&nbsp;Alert messages
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
      <li>
        <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          <i nz-icon nzType="user" nzTheme="outline"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu style="width: 160px">
            <li nz-menu-divider></li>

            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="profile" nzTheme="outline"></i>
              &nbsp;&nbsp;Profile</li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="setting" nzTheme="outline"></i>
              &nbsp;&nbsp;Settings</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="log('1st menu item')">
              <i nz-icon nzType="poweroff" nzTheme="outline" style="color: #e10f0f"></i>
              &nbsp;&nbsp;Logout</li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>

  </nz-header>
  <div id="container">
    <nz-sider nzBreakpoint="md" nzTheme="light" nzCollapsible [nzCollapsedWidth]="width"
              (nzCollapsedChange)="updateMenuInlineCollapsed($event)">
      <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <nz-divider></nz-divider>
        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-content [ngStyle]="{'left': isCollapsed? width+'px': '200px'}">
      <div class="inner-content">
        {{width}}
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </div>
</nz-layout>
